<div class="back">
    <div>
        
        <div style=" position: relative;
        text-align: left;
        color: white;">
            
            <img class="image" src="../../assets/images/about.jpg"/>
          <b>  <h1 style="color: rgba(41, 177, 235, 0.86); margin-top: -380px; margin-left: 160px;">About Us</h1></b>
                <div class="p"><br>Gadgeon is a new-gen technology consultancy and engineering services company <br>
                               enabling customer’s digital journey. Gadgeon is dedicated to building solid
                               software systems <br>that creates business value for enterprises. Our services
                                include Product engineering, IoT Engineering,<br> Embedded systems – hardware & Firmware, Enterprise application – 
                    integration & modernization,<br> Full stack development,  cloud & Mobile app development,
                    data analytics with AI & ML, testing & <br>automation, and Professional services. <br><br>
                    Gadgeon enables our customers to fully focus on high impact business transformation initiatives <br>
                    while the extended team from Gadgeon takes care of all engineering and operational activities.<br><br>

                    Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of <br>
                    more than 170 projects across USA, Europe, and APAC. Over the years, we have been identified for<br>
                     quality and engineering excellence. We serve Enterprises, ISVs, Product companies, and fast growing <br>
                     startups across Digital Healthcare, Connected factories, Retail & E-Commerce, Communication, and <br>
                     Home & Building Automation domains.</div>
            
        </div>
    </div>
</div>



<div>
    <footer class="bg-dark text-center text-white">
  
        <div class="container p-4 pb-0">
        
          <section class="mb-4">
           
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
           
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
          
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          
        </div>
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">Gadgeon.com</a>
        </div>
      </footer>
  </div>
  