<div class="back">

<div class="container">
  <form style="padding-top: 20px ;">

    <label for="fname" style="color: white;">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname" style="color: white;">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Email..">


    <label for="subject" style="color: white;">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
</div>



<div>
  <footer class="bg-dark text-center text-white">

      <div class="container p-4 pb-0">
      
        <section class="mb-4">
         
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
          ></a>
    
         
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
        
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        
      </div>
    
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://www.gadgeon.com/">Gadgeon.com</a>
      </div>
    </footer>
</div>
