<div class="back">
    <div class="row">
    <div class="column">
        <div>
            <img class="image" src="../../assets/images/pe.jpg"/>
        </div>
        <div class="heading">
            <h6><b>Product Engineering</b></h6>
        </div>
    </div>
    <div class="column">
        <div>
            <img style=" height: 150px;
            border-radius: 10px;
            margin: 10px;
            margin-left: 8px;
            margin-bottom: 1px;" src="../../assets/images/IIoT.jpg"/>
        </div>
        <div class="heading">
            <h6><b>IoT Engineering</b></h6>
        </div>  
    </div>
    <div class="column">
        <div>
            <img style="margin-left:20px ;" class="image" src="../../assets/images/dig.jpg"/>
        </div>
        <div class="heading">
            <h6><b>Digitalization Services</b></h6>
        </div> 
    </div>
  </div>
 

  <div class="row">
    <div class="column">
        <div>
            <img style="margin-left:5px ;" class="image" src="../../assets/images/ent.jpg"/>
        </div>
        <div class="heading">
            <h6><b>Enterprise Applications</b></h6>
        </div>
    </div>
    <div class="column">
        <div>
            <img style="margin-left: 2px ;" class="image" src="../../assets/images/tes.webp"/>
        </div>
        <div class="heading">
            <h6><b>Testing Services</b></h6>
        </div>  
    </div>
    <div class="column">
        <div>
            <img style="margin-left: 25px ;" class="image" src="../../assets/images/prof.jpg"/>
        </div>
        <div class="heading">
            <h6><b>Professional Services</b></h6>
        </div> 
    </div>
  </div>
</div>



<div>
    <footer class="bg-dark text-center text-white">
  
        <div class="container p-4 pb-0">
        
          <section class="mb-4">
           
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
           
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
          
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          
        </div>
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">Gadgeon.com</a>
        </div>
      </footer>
  </div>
  