<div class="back"><div class="row">
    <div class="column">
        <div>
            <img class="image" src="../../assets/images/health.jpg"/>
        </div>
        <div class="heading">
            <h5><b>Gadgeon Healthcare</b></h5>
        </div>
    </div>
    <div class="column">
        <div>
            <img class="image" src="../../assets/images/homeauto.jpg"/>
        </div>
        <div class="heading">
            <h5><b>Gadgeon Lifestyle</b></h5>
        </div>  
    </div>
    <div class="column">
        <div>
            <img class="image" src="../../assets/images/pgm.jpg"/>
        </div>
        <div class="heading">
            <h5><b>Gadgeon Technologies</b></h5>
        </div> 
    </div>
  </div>
</div>


<div>
    <footer class="bg-dark text-center text-white">
  
        <div class="container p-4 pb-0">
        
          <section class="mb-4">
           
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
           
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
          
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          
        </div>
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">Gadgeon.com</a>
        </div>
      </footer>
  </div>
  
